.wrapper {
  display: flex;
  gap: 48px;
  width: 1184px;
  border-radius: 24px;
  border: 1px solid grey;
  padding: 24px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.imageWrapper {
  width: 126px;
  height: 126px;
  padding: 12px;
  border-radius: 50%;
  border: 3px solid var(--secondary-color-fon);
  display: block;
}

.image {
  border-radius: 50%;
  display: block;
}

.cardBody {
  width: 100%;
}

.cardHeader {
  display: flex;
  align-items: center;
  width: 100%;
}

.languages {
  margin-right: auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #8a8a89;
}

.headerList {
  display: flex;
  gap: 16px;
  padding: 0;
  margin: 0;
  margin-right: 64px;
  list-style: none;
}

.headerItem {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.price {
  color: #38cd3e;
}

.headerItem:not(:last-child)::after {
  content: "";
  margin-left: 16px;
  /* margin-right: 16px; */
  width: 0px;
  height: 16px;
  border: 1px solid rgba(18, 20, 23, 0.2);
}

.cardTitle {
  height: 24px;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
}

.btnFav {
  display: flex;
  padding: 0;
  margin: 0;
  width: 26px;
  height: 26px;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.cardInfo {
  margin-bottom: 8px;
  font-weight: 500;
}

.greyText {
  color: #8a8a89;
}

.btnReadMore {
  margin-top: 16px;
  margin-bottom: 32px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-weight: 500;
  text-decoration: underline;
}

.text {
  /* Jane is an experienced and dedicated language teacher specializing in German and French. She holds a Bachelor's degree in German Studies and a Master's degree in French Literature. Her passion for languages and teaching has driven her to become a highly proficient and knowledgeable instructor. With over 10 years of teaching experience, Jane has helped numerous students of various backgrounds and proficiency levels achieve their language learning goals. She is skilled at adapting her teaching methods to suit the needs and learning styles of her students, ensuring that they feel supported and motivated throughout their language journey. */

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.cardFooter {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 8px;
  list-style: none;
}

.footerItem {
  padding: 8px 12px;
  font-weight: 500;
  border: 1px solid rgba(18, 20, 23, 0.2);
  border-radius: 35px;
}

.footerItem:first-child {
  border: 1px solid var(--primary-color-fon);
  background-color: var(--primary-color-fon);
}

.btnBook {
  display: flex;
  cursor: pointer;
  margin-top: 32px;
  justify-content: center;
  align-items: center;
  padding: 16px 48px;
  width: 232px;
  height: 60px;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;

  background: var(--primary-color-fon);
  border-radius: 12px;
  border: none;
}

.btnBook:hover,
.btnBook:active {
  background: var(--secondary-color-fon);
}

.commentsList {
  margin: 0;
  padding: 0;
  list-style: none;
}

.commentItem {
  margin: 0;
  padding: 0;
}

.commentHeader {
  display: flex;
  gap: 12px;
  margin-bottom: 16px;
}

.commentTitle {
  margin: 0 0 2px 0;
  padding: 0;

  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  color: #8a8a89;
}

.commentPhoto {
  border-radius: 50%;
  width: 44px;
  height: 44px;
}

.commentRateWrapper {
  display: flex;
  align-items: center;
  gap: 4px;
}

.commentRate {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
}

.commentText {
  width: 400px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
