:root {
  --primary-color-black: #121417;
  --active-color-black: rgba(18, 20, 23, 0.7);
  --backdrop-color-black: rgba(18, 20, 23, 0.5);
  --primary-color-white: #ffffff;
}

body {
  font-family: Roboto;
  font-size: 16px;
  color: var(--color-black);
  box-sizing: border-box;
}

a {
  color: var(--primary-color-black);
  text-decoration: none;
}

a:hover,
a:active {
  color: var(--active-color-black);
}

a.active {
  color: var(--active-color-black);
}

.container {
  max-width: 1344px;
  margin: 0 auto;
  padding: 0 16px;
  /* border: 1px solid red; */
}

.btn {
  padding: 14px 39px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
