.wrapper {
  max-width: 438px;
}

.title {
  margin: 0 0 20px 0;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.02em;
  color: var(--primary-color-black);
}

.text {
  margin: 0 0 40px 0;
  line-height: 22px;
  color: rgba(18, 20, 23, 0.8);
}

.input {
  margin-bottom: 18px;
  padding: 16px 18px;
  box-sizing: border-box;
  color: var(--primary-color-black);
  width: 100%;
  height: 54px;

  border: 1px solid rgba(18, 20, 23, 0.1);
  border-radius: 12px;
}

.btn {
  width: 100%;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;

  background: #f4c550;
  border: none;
  border-radius: 12px;

  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
}
